.contacts-content-wrapper {
    margin-bottom: 50px;
}
.contacts-content-wrapper:last-child {
    margin-bottom: 0px;
}


.schedule p {
    margin-bottom: 0;
}

.schedule table td {
    width: 33%;
}


.location {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.location p {
	width: 400px;
    margin-bottom: 25px;
}


.location p:nth-of-type(2n) {
    text-align: right;
}
