.index-main {
    padding: 80px 0;
	color: rgb(255, 255, 255);
    background: rgb(0, 0, 0) url("../img/index-bg.jpg") left top / 100% no-repeat;
}

.index-main p {
    margin-bottom: 25px;
}


.index-logo {
    display: block;
    width: 368px;
    margin: 0 auto;
}


.index-features {
    margin: 80px 0;
    color: rgb(255, 255, 255);
}

.features-content {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-item {
    width: 260px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

.features-item p {
	padding: 0;
    margin: 0;
}

.feautures-item-title {
    font-size: 30px;
    line-height: 42px;
}

.feautures-item-title::after {
    content: "";
    display:block;
    width: 20px;
	 height: 20px;
    margin: 20px auto 25px;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
}


.index-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    background: url("../img/content-splitter.png") no-repeat center,
                rgb(248, 245, 242) url("../img/bg.jpg");
}
.index-content-wrapper:last-child {
    margin-bottom: 0;
}


.index-content-title {
    padding: 0;
	margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}
.index-content-title::first-line {
    line-height: 30px;
}


.index-news,
.index-contacts {
    width: 340px;
}

.index-gallery,
.index-appointment {
    width: 300px;
}


.index-news time {
    font-weight: 400;
    text-transform: none;
}


.gallery-content {
    max-height: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gallery-content a {
    padding: 0;
    margin: 0;
    display: block;
}

.gallery-content img {
    padding: 0;
    margin: 0;
    border: 7px solid rgb(255, 255, 255);
}

.index-gallery-js {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
}

.index-gallery-js .gallery-content {
    position: relative;
    overflow: visible;
    height: 178px;
    margin-bottom: 50px;
}

.index-gallery-js .gallery-content a {
    position: absolute;
	top: 0;  left: 0;
}

.index-gallery-js .current-photo {
    z-index: 10;
}

.index-gallery-js .gallery-nav {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}


.index-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.map-btn {
    margin-top: auto;
}


.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-field {
    width: 140px;
    margin-bottom: 20px;
}


.appointment-form .btn {
    width: 100%;
}
