.big-slogan {
    display: flex;
    align-items: center;
	width: 100%;
    margin-bottom: 55px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.big-slogan::before,
.big-slogan::after {
    content: "";
    flex-grow: 1;
    border: 1px solid rgb(0, 0, 0);
}

.big-slogan b {
    flex-grow: 0;
    margin: 0 35px;
    font-size: 48px;
    line-height: 48px;
}


.price-content-wrapper {
	display: flex;
	justify-content: space-between;
    margin-bottom: 50px;
}
.price-content-wrapper:last-child {
    margin-bottom: 0px;
}


.tools,
.price {
    width: 460px;
}


.ubout-us {
	display: flex;
	flex-wrap: wrap;
}

.ubout-us p {
    width: 380px;
    margin-bottom: 0;
}
.ubout-us p:nth-child(even) {
	margin-right: 100px;
}
