@font-face {
	font-family: "PT Sans Narrow";
	src: url("../font/ptsansnarrow.woff2") format("woff2"),
		 url("../font/ptsansnarrow.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans Narrow";
	src: url("../font/ptsansnarrowbold.woff2") format("woff2"),
		 url("../font/ptsansnarrowbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}


@keyframes bounce {
    0% {transform: translateY(-1000px);}
    70% {transform: translateY(30px);}
    90% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}




html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font: 700 14px/24px "PT Sans Narrow", Arial, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}


.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}




/* page-header */


.page-header {
	color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}


.nav-bar {
    display: flex;
    flex-wrap: wrap;
}


.inner-logo {
    padding: 25px 20px 18px 0;
}


.main-nav,
.user-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.user-menu {
	margin-left: auto;
}

.main-nav-item,
.user-menu-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.nav-item-link,
.user-menu-link {
    position: relative;
    display: block;
    padding: 25px 20px;
}
.nav-item-link:hover,
.user-menu-link:hover {
    background: rgb(36, 36, 36);
}
.nav-item-link:active,
.user-menu-link:active {
    color: rgba(255, 255, 255, 0.3);
}


.login-btn {
    padding-left: 50px;
}
.login-btn::before {
    content: "";
    position: absolute;
    top: 30px;  left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/icons-sprite.png") -15px -15px no-repeat;
    opacity: 0.3;
}
.login-btn:hover::before {
    opacity: 1;
}


.current-page:after {
    content: "";
    position: absolute;
    bottom: 0;  left: 20px;  right: 20px;
    display: block;
    border: 2px solid rgb(255, 255, 255);
}
.current-page:hover {
    background: rgb(0, 0, 0);
}

.login-btn:after {
	left: 50px;
}




/* page-main */


.page-main {
    flex-grow: 1;
    padding: 60px 0 180px;
    color: rgb(0, 0, 0);
    background: rgb(248, 245, 242) url("../img/bg.jpg");
}


.page-main a:hover {
    color: rgb(102, 61, 21);
}
.page-main a:active {
    color: rgba(102, 61, 21, 0.3);
}


.page-main p {
    padding: 0;
    margin: 0;  margin-bottom: 14px;
}


.page-main ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-main ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
}
.page-main ul li::before {
    content: "";
    position: absolute;
	left: 0;  top:50%;
    display:block;
    width: 10px;
	height: 10px;
    margin-top: -5px;
    background: rgb(0, 0, 0);
    transform: rotate(45deg);
}


.page-main table {
    width: 100%;
    border-collapse: collapse;
}

.page-main table td {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}
.page-main table td:first-child {
    text-align: left;
}


.inner-title {
	width: 100%;
    padding: 0;
    margin: 0;  margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}


.page-main .btn{
	width: 140px;
	padding: 10px 0;
}

.page-main .btn:hover {
    color: rgb(255, 255, 255);
    background: rgb(102, 61, 21);
}
.page-main .btn:active {
    color: rgba(255, 255, 255, 0.3);
}


.breadcrumps {
	width: 100%;
    margin-bottom: 50px;
}

.breadcrumps-link::after {
    content: "";
    display:inline-block;
    width: 10px;
	height: 10px;
    margin: 0 15px;
    background: rgb(0, 0, 0);
    transform: rotate(45deg);
}

.breadcrumps-current {
    color: rgb(171, 169, 167);
}


.inner-content-title {
	width: 100%;
    padding: 0;
	margin: 0;  margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}




/* page-footer */


.page-footer {
    padding: 50px 0 40px;
	color: rgb(255, 255, 255);
    background: rgb(36, 36, 36) url("../img/footer-bg.jpg");
    box-shadow: inset 0 30px 40px -15px rgb(0, 0, 0);
}

.footer-container {
    display: flex;
    align-items: center;
}

.page-footer a:hover {
    text-decoration: underline;
}
.page-footer a:active {
    color: rgba(255, 255, 255, 0.3);
}


.footer-contacts {
	padding: 0;
    margin: 0;
}

.map-link {
    text-decoration: underline;
}


.footer-social {
    margin-left: 130px;
    text-align: center;
}

.footer-social p {
	padding: 0;
    margin: 0;  margin-bottom: 14px;
}

.social-btn {
    display: inline-block;
	box-sizing: border-box;
    width: 44px;
    height: 44px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    background: rgb(0, 0, 0) url("../img/icons-sprite.png") no-repeat;
}
.social-btn:hover {
    background-color: rgb(255, 255, 255);
}
.social-btn:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.social-btn-vk {
    background-position: -7px -140px;
}
.social-btn-vk:hover {
    background-position: -7px -186px;
}

.social-btn-fb {
    background-position: 1px -234px;
}
.social-btn-fb:hover {
    background-position: 0px -286px;
}

.social-btn-inst {
    background-position: -3px -338px;
}
.social-btn-inst:hover {
    background-position: -3px -389px;
}


.footer-copyright {
	padding: 0;
    margin: 0;  margin-left: auto;
    text-align: right;
}

.footer-copyright .copyright-btn {
    display: block;
    padding: 10px;
    margin-top: 14px;
}
.footer-copyright .copyright-btn:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.footer-copyright .copyright-btn:active {
    background: rgba(255, 255, 255, 0.3);
}




/* Стили кнопок */

.btn {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font: inherit;
    text-align: center;
    text-transform: inherit;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
.btn:hover {
    color: rgb(255, 255, 255);
    background: rgb(102, 61, 21);
}
.btn:active {
    color: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.5;
    cursor: default;
}
.btn.disabled:hover,
.btn:disabled:hover {
    background: rgb(0, 0, 0);
}




/* Стили полей форм */


.form-field {
   box-sizing: border-box;
   padding: 7px 15px;
   font: inherit;
   text-transform: inherit;
   color: inherit;
   border: 2px solid rgb(0, 0, 0);
   background: rgb(248, 245, 242) url("../img/icons-sprite.png") no-repeat;
}
.form-field:focus {
    outline: 0;
    border: 2px solid rgb(102, 61, 21);
}

.form-field-invalid {
    border-color: rgb(200, 0, 0);
}
.form-field-invalid:focus {
    border-color: rgb(200, 0, 0);
}


.checkbox-field,
.radio-btn-field {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.checkbox-field:hover,
.radio-btn-field:hover {
    color: rgb(102, 61, 21);
}
.checkbox-field:active,
.radio-btn-field:hover {
    color: rgba(102, 61, 21, 0.3);
}

.custom-checkbox + .checkbox-replacer {
    position: absolute; top: -1px; left: 0;
    box-sizing: border-box;
    width: 20px;
	height: 20px;
    border: 2px solid rgb(0, 0, 0);
}
.custom-checkbox:focus + .checkbox-replacer {
    border-color: rgb(102, 61, 21);
}
.custom-checkbox:checked + .checkbox-replacer::before,
.custom-checkbox:checked + .checkbox-replacer::after {
    content: "";
    position: absolute;
	top: 7px;  left: 0px;
    width: 15px;
	height: 2px;
    background: rgb(0, 0, 0);
}
.custom-checkbox:checked + .checkbox-replacer::before {
    transform: rotate(45deg);
}
.custom-checkbox:checked + .checkbox-replacer::after {
    transform: rotate(-45deg);
}


.custom-radio-btn + .radio-replacer {
    position: absolute;
	top: 1px;  left: 0;
    box-sizing: border-box;
    width: 20px;
	height: 20px;
    border: 2px solid rgb(0, 0, 0); border-radius: 50%;
}
.custom-radio-btn:focus + .radio-replacer {
    border-color: rgb(102, 61, 21);
}
.custom-radio-btn:checked + .radio-replacer::after {
    content: "";
    position: absolute;
	top: 4px;  left: 4px;
    width: 8px;
	height: 8px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}




/* Стили modal- */


.modal-overlay {
    display: none;
    position: fixed;
	top: 0;  left: 0;
    z-index: 100;
    width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
    display: block;
}


.modal-content-close {
    position: absolute;
	top: -5px; right: -30px;
    z-index: 200;
    width: 25px;
	height: 25px;
    font-size: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
	top: 10px;  left: 2px;
    width: 22px;
	height: 4px;
    background: rgb(208, 208, 208);
}
.modal-content-close::before {
    transform: rotate(45deg);
}
.modal-content-close::after {
    transform: rotate(-45deg);
}


.modal-content-map {
    display: none;
    z-index: 200;
    position: fixed;
	top: 50%;  left: 50%;
	width: 780px;
	height: 574px;
    margin-left: -390px;  margin-top: -287px;
    box-sizing: border-box;
    border: 7px solid rgb(255, 255, 255);
}

.location-map {
	width: 100%;
	border: none;
}

.modal-content-map .modal-content-close {
    top: -10px;  right: -37px;
}

.modal-content-map-show {
    display: block;
}


.modal-content-form {
    display: none;
    position: absolute;
	top: 120px;  left: 50%;
    z-index: 200;
	width: 300px;
	padding: 60px 80px;
    margin-left: -230px;
    color: rgb(0, 0, 0);
    background: rgb(248, 245, 242) url("../img/bg.jpg");
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-form-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-content-form-error {
    animation: shake 0.6s;
}


.modal-content-form p {
    padding: 0;
	margin: 0;  margin-bottom: 14px;
}
.modal-content-form p:last-of-type {
    margin-bottom: 0;
}


.login-form .login-field,
.login-form .password-field {
    width: 300px;
    padding-right: 40px;
	margin-bottom: 14px;
}

.login-form .login-field {
    background-position: 252px -50px;
}

.login-form .password-field {
    background-position: 252px -96px;
}


.restore-link,
.sign-up-link {
	float: right;
    text-decoration: underline;
}
.restore-link:hover,
.sign-up-link:hover {
    color: rgb(102, 61, 21);
}
.restore-link:active,
.sign-up-link:active {
    color: rgba(102, 61, 21, 0.3);
}


.login-form .btn {
    width: 300px;
	padding: 10px 0;
    margin: 14px 0;
}




.index-main {
    padding: 80px 0;
	color: rgb(255, 255, 255);
    background: rgb(0, 0, 0) url("../img/index-bg.jpg") left top / 100% no-repeat;
}

.index-main p {
    margin-bottom: 25px;
}


.index-logo {
    display: block;
    width: 368px;
    margin: 0 auto;
}


.index-features {
    margin: 80px 0;
    color: rgb(255, 255, 255);
}

.features-content {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-item {
    width: 260px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

.features-item p {
	padding: 0;
    margin: 0;
}

.feautures-item-title {
    font-size: 30px;
    line-height: 42px;
}

.feautures-item-title::after {
    content: "";
    display:block;
    width: 20px;
	 height: 20px;
    margin: 20px auto 25px;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
}


.index-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    background: url("../img/content-splitter.png") no-repeat center,
                rgb(248, 245, 242) url("../img/bg.jpg");
}
.index-content-wrapper:last-child {
    margin-bottom: 0;
}


.index-content-title {
    padding: 0;
	margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}
.index-content-title::first-line {
    line-height: 30px;
}


.index-news,
.index-contacts {
    width: 340px;
}

.index-gallery,
.index-appointment {
    width: 300px;
}


.index-news time {
    font-weight: 400;
    text-transform: none;
}


.gallery-content {
    max-height: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gallery-content a {
    padding: 0;
    margin: 0;
    display: block;
}

.gallery-content img {
    padding: 0;
    margin: 0;
    border: 7px solid rgb(255, 255, 255);
}

.index-gallery-js {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
}

.index-gallery-js .gallery-content {
    position: relative;
    overflow: visible;
    height: 178px;
    margin-bottom: 50px;
}

.index-gallery-js .gallery-content a {
    position: absolute;
	top: 0;  left: 0;
}

.index-gallery-js .current-photo {
    z-index: 10;
}

.index-gallery-js .gallery-nav {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}


.index-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.map-btn {
    margin-top: auto;
}


.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-field {
    width: 140px;
    margin-bottom: 20px;
}


.appointment-form .btn {
    width: 100%;
}




.login-content {
    width: 300px;
    margin: 0 auto;
}

.login-content p:last-of-type {
    margin-bottom: 0;
}




.contacts-content-wrapper {
    margin-bottom: 50px;
}
.contacts-content-wrapper:last-child {
    margin-bottom: 0px;
}


.schedule p {
    margin-bottom: 0;
}

.schedule table td {
    width: 33%;
}


.location {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.location p {
	width: 400px;
    margin-bottom: 25px;
}


.location p:nth-of-type(2n) {
    text-align: right;
}




.shop-content-wrapper {
    display: flex;
    justify-content: space-between;
}


.goods-filter {
    width: 220px;
}

.goods-filter fieldset {
    padding: 0;
    margin: 0;  margin-bottom: 50px;
    border: none;
}

.goods-filter .checkbox-field,
.goods-filter .radio-btn-field {
    display: block;
    margin-bottom: 14px;
}
.goods-filter .checkbox-field:last-child,
.goods-filter .radio-btn-field:last-child {
    margin-bottom: 0;
}


.goods-list {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}


.goods-item {
    box-sizing: border-box;
    width: 220px;
    margin-right: 20px;  margin-bottom: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px 4px rgb(229, 229, 229);
}
.goods-item:nth-of-type(3n) {
    margin-right: 0;
}
.goods-item:nth-of-type(n+4) {
    margin-bottom: 0;
}
.goods-item:hover {
    box-shadow: 0 0 16px 8px rgb(229, 229, 229);
}

.goods-item-header {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}


.goods-item-title {
    padding: 0;
    margin: 13px 0;  margin-left: 15px;
    font-size: 14px;
    line-height: 18px;
}

.goods-item-title span {
    display: block;
    text-transform: none;
}


.goods-item-price {
    display: flex;
}
.goods-item .goods-item-price {
    margin-left: 15px; margin-bottom: 15px;
}

.goods-item-price .price-value {
    display: block;
    width: 110px;
    padding: 10px 0;
    text-align: center;
    background: rgb(229, 229, 229);
}

.goods-item-price .shop-btn {
    width: 80px;
    padding: 10px 15px;
}




.goods-item-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
}

.goods-item-gallery img {
    box-shadow: 0 0 8px 4px rgb(229, 229, 229);
}

.item-photo {
    width: 140px;
	height: 150px;
    cursor: pointer;
}
.item-photo:hover {
    box-shadow: 0 0 16px 8px rgb(229, 229, 229);
}

.primary-photo {
    width: 460px; height: 499px;
    margin-bottom: 20px;
}


.goods-item-description {
    width: 390px;
}

.goods-item-description .description-header {
    display: flex;
    justify-content: space-between;
}
.description-header p:last-child {
    color: rgb(171, 169, 167);
}

.goods-item-description p {
    margin-bottom: 30px;
}

.goods-item-description .goods-item-price {
    margin-bottom: 70px;
}




.big-slogan {
    display: flex;
    align-items: center;
	width: 100%;
    margin-bottom: 55px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.big-slogan::before,
.big-slogan::after {
    content: "";
    flex-grow: 1;
    border: 1px solid rgb(0, 0, 0);
}

.big-slogan b {
    flex-grow: 0;
    margin: 0 35px;
    font-size: 48px;
    line-height: 48px;
}


.price-content-wrapper {
	display: flex;
	justify-content: space-between;
    margin-bottom: 50px;
}
.price-content-wrapper:last-child {
    margin-bottom: 0px;
}


.tools,
.price {
    width: 460px;
}


.ubout-us {
	display: flex;
	flex-wrap: wrap;
}

.ubout-us p {
    width: 380px;
    margin-bottom: 0;
}
.ubout-us p:nth-child(even) {
	margin-right: 100px;
}




.news-item {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
    padding: 0;
	margin: 0;  margin-bottom: 50px;
}
.news-item:last-child {
    margin-bottom: 0;
}

.news-item-body {
    width: 800px;
}

.news-item-body p:last-of-type {
    margin-bottom: 0;
}


.news-item-datetime {
    position: relative;
    display: block;
    width: 70px;
    padding: 10px;  padding-top: 20px;
    margin-top: 5px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(0, 0, 0);
}
.news-item-datetime::after {
    content: "";
    position: absolute;
	bottom: -20px;  left: 0;
    border: 20px solid rgb(0, 0, 0);
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: none;
}

.big-number {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
